:root { 
    --background-color1: #fafaff; 
    --background-color2: #ffffff; 
    --background-color3: #ededed; 
    --background-color4: #cad7fda4; 
    --primary-color: #4b49ac; 
    --secondary-color: #0c007d; 
    --Border-color: #3f0097; 
    --one-use-color: #3f0097; 
    --two-use-color: #5500cb; 
  } 
  .div-body-Admin { 
    background-color: white; 
    max-width: 100%; 
    height: 100%;
    overflow-x: hidden; 
    margin: none;
  } 
  .div-body-Admin{
    position: fixed;
    display: flex;
    width: 100%;
    height: 100%;
    top: 73px;
    background: black;
  }
