.option-container{
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
    background-color: #141414;
    height: 72px;
    padding-top: 12px;
}
.option-container ul{
  display: flex;
  flex-direction: row;
  grid-gap: 2rem;
  grid-gap: 2rem;
  gap: 2rem;
  position: fixed;
  /* align-items: center; */
  left: 771px;
  top: 29px;
}
