.div-img {
    position: relative;
    height: 250px;
    width: 340px;
  }
  .div-img img{
    width: 340px;
    height: 250px;
  }
  .div-img .appear{
    position: absolute;
    padding: 15px 35px 15px 35px;
    font-size: 20px;
    font-weight: 500;
    color: black;
    background-color: #FFBA00;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    cursor: pointer;
    transition: opacity 0.5s;
    
  }
  .div-img:hover .appear{
    opacity: 1;
  }
  

.location-detail .loc  .information {
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 15px 10px 10px 10px;
    width: 400px;
}

.information .location-inf span,
.information .phone-inf span,
.information .time-inf span {
  color: white;
  font-size: 18px;
  font-weight: 550;
}
.information .location-inf i,
.information .phone-inf i,
.information .time-inf i {
  color: #FFBA00;
  font-size: 19px;
  font-weight: 800;
  margin-right: 30px;
}

.time-inf{
    display: flex;
    align-items: center;
    grid-gap: 20px;
    gap: 20px;
}

.location-detail .loc-container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;
  padding: 0px 100px;
  width: 100%;
  gap: 30px
  /* display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-rows:repeat(2,1fr) ;
  grid-column-gap:0px  ;
  grid-row-gap:24px ; */
}

.location-detail .loc{
   width: 30%;
   padding: 20px 12px;
}
