@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Agbalumo&display=swap');

:root {
  --primary-orange : #FFBA00 ; 
  
}
*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}
html::-webkit-scrollbar {
  width: 4px;
}

html::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

html::-webkit-scrollbar-thumb {
  border-radius: 1px;
  background: var(--primary-orange);
  box-shadow: inset 2px 2px 5px 0 rgba(#fff, 0.5);
}
ul {
  list-style: none;
}
a {
  text-decoration: none;
  color: #ffffff;
  transition: 0.3s;
}

body {
  margin : 24px 0 0 0;
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  color: #ffffff;
  background-color: rgb(17, 16, 16);
  word-wrap: break-word;
}

body {
min-height: 100vh;


}
.div-body {
  position: relative;
}